**__pycache__
.vscode

external/
runs/
extra_info/
wandb/
outputs/
extra_info/
eval/
extra_info/

debug_**

utils/ngc/grid_search_configs

imgui.ini
data

thirdparty/simple-knn/build
thirdparty/simple-knn/dist
thirdparty/simple-knn/simple_knn.egg-info

libs/ray_utils/external/.cache/
libs/ray_utils/external/
libs/ray_utils/build/
libs/ray_utils/ray_utils.egg-info/
libs/ray_utils/dist/

grid_search
