**__pycache__
.vscode
.polyscope.ini
*.ply
external/
runs/
extra_info/
wandb/
outputs/
extra_info/
eval/
extra_info/

debug_**
*.mp4
utils/ngc/grid_search_configs

imgui.ini
data

thirdparty/simple-knn/build
thirdparty/simple-knn/dist
thirdparty/simple-knn/simple_knn.egg-info

threedgrt_tracer/.ninja_log
threedgrt_tracer/include/3dgrt/kernels/slang/*.cuh*
*.egg-info
.idea

grid_search

libs/
results/
thirdparty/ncore/

playground/assets/

assets/nvidia-hq.gif
assets/playground_glass.gif

mask
runs.txt
mask_old.png
mask_20.png

move.sh

sam_masking

yolov8s.pt

colmap_1.sh
colmap_1t.sh
move_rest.sh
obj
overlay.py
# rig.sh
test.py
sub.py
psnr.py
rig_mask.sh
rig_new.sh

z

data



colmap_mask.sh
important.sh

threedgrut/datasets/dataset_colmap_interpolate.py
visual_viser_cam.py
visual_viser_overlay.py
visual_viser_final.py

mask_train_more.png
mask_train_more_4.png

ring/
circle_bigger_13.png
threedgrut/datasets/dataset_colmap_omni_fish.py


stich_psnr/

interp_frames-latest
interp_frames-big/
metrics-f.py
metrics-p.py
metrics/
otg/
threedgrut/datasets/camera_utils_nerfstudio.py
threedgrut/datasets/dataset_colmap_interpolate_2.py
threedgrut/datasets/dataset_colmap_interpolate_4.py
threedgrut/datasets/dataset_colmap_interpolate_vid.py
threedgrut/datasets/dataset_colmap_nvs.py


visual_viser_teaser.py
visual_viser_web.py
visual_viser_interpolate.py

recordings/
viser-client/
visual_viser_embedding.py

mask_train-ricoh360.png
mask_train_2.png

threedgrut/datasets/dataset_colmap_interpolate_fixed_center.py