[workspace]
name = "3dgrut"
version = "0.1.0"
description = "3D Gaussian Ray Tracing and Unscented Transform"
authors = ["NVIDIA"]
channels = ["nvidia/label/cuda-11.8.0", "pytorch", "conda-forge"]
platforms = ["linux-64"]

[dependencies]
python = "3.11.*"
cuda-toolkit = "11.8.*"
cmake = "*"
ninja = "*"
pytorch = "==2.1.2"
torchvision = "==0.16.2"
torchaudio = "==2.1.2"
pytorch-cuda = "==11.8"
numpy = "<2.0"
mkl = "<=2022.1.0"
mesa-libgl-devel-cos7-x86_64 = "*"
gcc_linux-64 = "11.*"
gxx_linux-64 = "11.*"

# Moved from PyPI to Conda for stability
plyfile = "*"
torchmetrics = "*"
tensorboard = "*"
fire = "*"
omegaconf = "*"
hydra-core = "*"
scikit-learn = "*"
wandb = "*"
polyscope = ">=2.3.0"
addict = "*"
rich = "*"
kornia = "*"
opencv = "<4.12.0"
einops = "*"
imageio = "*"
msgpack-python = "*"
dataclasses-json = "*"
setuptools = "<72.1.0"
tqdm = "*"
libigl = "*"
usd-core = "*"

[pypi-dependencies]
slangtorch = "==1.3.4"
pygltflib = "*"

[activation]
env = { TORCH_CUDA_ARCH_LIST = "7.0;7.5;8.0;8.6;9.0" }

[tasks]
install-custom = { cmd = "pip install --no-build-isolation git+https://github.com/rahul-goel/fused-ssim@1272e21a282342e89537159e4bad508b19b34157 && pip install --find-links https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.1.2_cu118.html kaolin==0.17.0 && pip install -e ." }
train = "python train.py"
