--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
plyfile
torchmetrics
tensorboard
tqdm
fire
toml
omegaconf
hydra-core
scikit-learn
# NeRF Dataset requirements
kornia
opencv-python
einops
imageio

## Wheels (tracked via LFS)
thirdparty/ncore/ncore-0.6.6-py3-none-any.whl # NCore
thirdparty/tinycudann/tinycudann-1.7+cu118-cp311-cp311-linux_x86_64.whl # tinycudann
