--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
plyfile
torchmetrics
tensorboard
tqdm
fire
toml
omegaconf
scikit-learn
# NeRF Dataset requirements
kornia
opencv-python
einops
imageio
scikit-learn
